html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

@font-face {
  font-family: 'ChelseaMarket';
  src: url('./assets/fonts/ChelseaMarket-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}